

  <div class="w3-sidebar w3-bar-block w3-black w3-xxlarge" style="width:200px">
    <a href="#" class="w3-bar-item w3-button"><i class="fa fa-home" style="font-size:20px">&nbsp;&nbsp;Home</i></a>
  <a routerLink="employee" class="w3-bar-item w3-button"><i class="fa fa-user" style="font-size:20px;">&nbsp;&nbsp;Employees</i></a> 
  <a routerLink="customer" class="w3-bar-item w3-button"><i class="fa fa-users" aria-hidden="true" style="font-size:20px">&nbsp;&nbsp;Customers</i></a> 
  <a routerLink="login" class="w3-bar-item w3-button"><i class="fa fa-lock" aria-hidden="true" style="font-size:20px">&nbsp;&nbsp;Login</i></a> 
  <a routerLink="register" class="w3-bar-item w3-button"><i class="fa fa-registered" style="font-size:20px">&nbsp;&nbsp;Register</i></a>
  <a routerLink="staff" class="w3-bar-item w3-button"><i class="fa fa-envelope" style="font-size:20px">&nbsp;&nbsp;Staff</i></a> 
  <a routerLink="statement" class="w3-bar-item w3-button"><i class="fa fa-file-o" style="font-size:20px">&nbsp;&nbsp;Statements</i></a>
  
</div>

<div style="margin-left:70px">

<div class="w3-container">
  <div class="row" style="height:40px ;background-color: #0a4275;">
    <h6 class="text-end text-white" style="margin-top:5px ;margin-left: -250px;"><i class="fa fa-location-arrow" aria-hidden="true"></i>&nbsp;Location Unavailable &nbsp;&nbsp;&nbsp;&nbsp; CHANGE
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ASB 805 ASP</h6>
   
  </div>
  <div class="row" style="height:80px;margin-left: 120px;">
    <div class="col-lg-1">
       
    </div>
    <div class="col-lg-2">
      <img src="../assets/logo.jfif" style="height: 80px;width:250px;margin-left: -100px;">
    </div>
    <div class="col-lg-1">
      <h5>Home</h5>
      <h5>Loans</h5>
    </div>
    <div class="col-lg-1">
      <h5>Personal Banking</h5>
    </div>
    <div class="col-lg-1">
      <h5>Insurance</h5>
    </div>
    <div class="col-lg-1">
      <h5> Help &</h5>
      <h5>Support</h5>
    </div>
    <div class="col-lg-1">
      <h5>About</h5>
    </div>
    <div class="col-lg-3">
        <input type="search" id="site-search" name="q" placeholder="How can we help? " style="margin-top:10px"><i class="fa fa-search" aria-hidden="true" style="margin-left:-20px ;"></i>
          
    </div>
    <hr>
    </div>
    <br>
  <div class="row">
    <img src="../assets/back1.jpg" style="height: 610px;width:1400px;margin-left:115px;margin-top: -15px;">
    <!-- <img src="../assets/back2.webp" style="height: 650px;width:550px;marn-left:160px"> -->
  </div>

  <div class="row" style="margin-top: 60px">
    <div class="col-lg-2" style="margin-left: 150px"></div>
    <div class="col-lg-2">
      <a href="#"><h5 style="color: white;">
        <button type="button" class="btn btn-primary btn-lg" style="height:100px;border-radius:100px;width:100px;border: 1.5px solid gray;background-color: #3f7ab4;" data-bs-toggle="modal" data-bs-target="#ModalForm2">
          <i class="fa fa-user" aria-hidden="true" style="font-size: 40px"></i>
        </button></h5></a>
        <h3 class="text-center" style="margin-left:-130px ;color: navy;">Employee Details</h3>
    </div>
    <div class="col-lg-2">
      <a href="#"><h5 style="color: white;">
        <button type="button" class="btn btn-primary btn-lg" style="height:100px;border-radius:100px;width:100px;border: 1.5px solid gray;background-color: #3f7ab4;" data-bs-toggle="modal" data-bs-target="#ModalForm3">
          <i class="fa fa-users" aria-hidden="true" style="font-size: 40px;"></i>
        </button></h5></a>
        <h3 class="text-center" style="margin-left:-130px ;color: navy;">Customers Details</h3>
    </div>
    <div class="col-lg-2">
      <a href="#"><h5 style="color: white;">
        <button type="button" class="btn btn-primary btn-lg" style="height:100px;border-radius:100px;width:100px;border: 1.5px solid gray;background-color: #3f7ab4;" data-bs-toggle="modal" data-bs-target="#ModalForm4">
          <i class="fa fa-users" aria-hidden="true" style="font-size: 40px"></i>
        </button></h5></a>
        <h3 class="text-center" style="margin-left:-130px ;color: navy;">Staff Details</h3>
    </div>
    <div class="col-lg-2">
      <a href="#"><h5 style="color: white;">
        <button type="button" class="btn btn-primary btn-lg" style="height:100px;border-radius:100px;width:100px;border: 1.5px solid gray;background-color: #3f7ab4;" data-bs-toggle="modal" data-bs-target="#ModalForm5">
          <i class="fa fa-plus" aria-hidden="true" style="font-size:40px"></i>
        </button></h5></a>
        <h3 class="text-center" style="margin-left:-130px ;color: navy;">Statement Details</h3>
    </div>
    <div class="col-lg-2"></div>
  </div>
  <br>
  <br>
  <br>
  
  <router-outlet></router-outlet>
  <!--  -->
  <!-- <app-login></app-login>
    <br>
  <app-employee></app-employee>
    <br> 
  <app-customer></app-customer> 
    <br>
  <app-staff></app-staff>
    <br>
  <app-statement></app-statement>
     -->
    <!-- Footer -->
    <section class="">
      <!-- Footer -->
      <footer class="text-center text-white" style="background-color: #0a4275;margin-top: -30px;margin-left: 100px;width: 1350px;">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
          <!-- Section: CTA -->
          <section class="">
            <p class="d-flex justify-content-center align-items-center">
              <span class="me-3">Register for free</span>
              <button type="button" class="btn btn-outline-light btn-rounded">
                Sign up!
              </button>
            </p>
          </section>
          <!-- Section: CTA -->
        </div>
        <!-- Grid container -->
    
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2020 Copyright:
          <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
        </div>
        <!-- Copyright -->
      </footer>
      <!-- Footer -->
    </section>

    
    

  
    
    