<div class="row" style="height: 90px;margin-left: -10px;margin-top: -40px;">
  <h1 class="text-center text-white" style="margin-left:100px;font-size: 30px;margin-top:35px;background-color: rgb(12, 12, 12);letter-spacing: 1.5px;"><b>STATEMENT DETAILS</b></h1>
</div>
<div class="row" style="background-color:#23395d;background-image: url(../assets/bgg3.webp);">
    
    <div class="col-lg-8" style="margin-left: -40px;">
    <section>
      <div class="container h-100" style="width: 650px;margin-top:20px">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-lg-8 col-xl-8">
            <div class="card text-black" style="border-radius: 25px;">
              <div class="card-body p-md-12">
                <div class="row justify-content-center">
                  <div class="col-md-10 col-lg-10 col-xl-10 order-2 order-lg-1">
                 <br>
                    <p class="text-center h1 fw-bold mb-12 mx-12 mx-md-12 mt-12">Add New Statement</p>
                   <br>
                   
                  <form [formGroup]="statementform">
                      <div class="d-flex flex-row align-items-center mb-12">
                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-12">
                          <input type="text" id="form3Example1c" class="form-control" formControlName="tname" placeholder="Full Name"/>
                          <div class="error" *ngIf="isSubmitted==true">
                            <div *ngIf="statementform.controls['tname'].errors?.['required']">
                               Name is required..!
                            </div>
                        </div> 
                          <!-- <label class="form-label" for="form3Example1c">Full Name</label> -->
                        </div>
                      </div>
    
                      <div class="d-flex flex-row align-items-center mb-12" style="margin-top:15px ;">
                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-12">
                          <input type="email" id="form3Example3c" class="form-control" formControlName="temail" placeholder="Email-Id"/>
                          <div class="error" *ngIf="isSubmitted==true">
                            <div *ngIf="statementform.controls['temail'].errors?.['required']">
                               Email is required..!
                            </div>
                        </div> 
                          <!-- <label class="form-label" for="form3Example3c">Email Id</label> -->
                        </div>
                      </div>

                      <div class="d-flex flex-row align-items-center mb-12" style="margin-top:15px ;">
                        <i class="fas fa-user fa-lg me-3 fa-phone"></i>
                        <div class="form-outline flex-fill mb-12">
                          <input type="text" id="form3Example1c" class="form-control" formControlName="tcontact" placeholder="Your Contact"/>
                          <div class="error" *ngIf="isSubmitted==true">
                            <div *ngIf="statementform.controls['tcontact'].errors?.['required']">
                               Contact is required..!
                            </div>
                        </div> 
                          <!-- <label class="form-label" for="form3Example1c">Your Contact</label> -->
                        </div>
                      </div>

                      <div class="d-flex flex-row align-items-center mb-12" style="margin-top:15px ;">
                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-12">
                          <input type="text" id="form3Example1c" class="form-control" formControlName="taadhar" placeholder="Aadhar No"/>
                          <div class="error" *ngIf="isSubmitted==true">
                            <div *ngIf="statementform.controls['taadhar'].errors?.['required']">
                               Aadhar is required..!
                            </div>
                        </div>  
                          <!-- <label class="form-label" for="form3Example1c">Aadhar No.</label> -->
                        </div>
                      </div>
                      <br>
                      
                      <div class="d-grid">
                        <button class="btn btn-warning btn-login text-uppercase fw-bold" type="update" (click)="update5()" *ngIf="isEditBtnClicked5=='yes'" style="margin-top: 10px;">Update</button>
                      </div>
                      
                      <div class="d-grid" style="margin-top: 10px;">
                        <button class="btn btn-success" type="submit" (click)="submit5()" *ngIf="isEditBtnClicked5=='no'" >Submit
                          </button>
                      </div>

                      <div class="d-grid" style="margin-top: 10px;">
                        <button class="btn btn-danger" type="submit" (click)="clear5()">Cancel</button>
                      </div>
                      </form>
                      <br>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <br>
  </div>

  <div class="col-lg-6" style="margin-left:700px;margin-top:-580px">
     <section class="intro">
<div class="bg-image h-70" style="background-color: #f5f7fa;border-radius: 20px;">
  <div class="mask d-flex align-items-center h-70">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <h1 class="text-center"><b>Statement Details</b></h1>
          <div class="card">
            <div class="card-body p-0">
              <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true" style="position: relative; height: 490px;">
                <table class="table table-striped mb-0">
                  <thead style="background-color: #002d72;">
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Email-Id</th>
                      <th scope="col">Contact</th>
                      <th scope="col">Aadhar No.</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let state of statementList;let idx=index">
                      <td>{{state.tname}}</td>
                      <td>{{state.temail}}</td>
                      <td>{{state.tcontact}}</td>
                      <td>{{state.taadhar}}</td>
                      
                      <td>
                        <button class="btn btn-warning" (click)="edit5(idx)"><i class="fa fa-pencil" aria-hidden="true"></i></button>&nbsp;
                        <button class="btn btn-danger" (click)="delete5(idx)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
  </div>
  </div>
  <br>
  <br>
  <br>
  