<div class="row" style="background-color:#23395d;background-image: url(../assets/bgg3.webp);">
  
    <div class="col-lg-8" style="margin-left: -40px;">
    <section>
      <div class="container h-100" style="width: 650px;margin-top:20px">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-lg-8 col-xl-8">
            <div class="card text-black" style="border-radius: 25px;">
              <div class="card-body p-md-12">
                <div class="row justify-content-center">
                  <div class="col-md-10 col-lg-10 col-xl-10 order-2 order-lg-1">
                 <br>
                    <p class="text-center h1 fw-bold mb-12 mx-12 mx-md-12 mt-12">Customer Registration</p>
                   <br>
                   
                <form [formGroup]="registerform">
                      <div class="d-flex flex-row align-items-center mb-12">
                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-12">
                          <input type="text" id="form3Example1c" class="form-control" placeholder="Customer Name" formControlName="rname"/>
                          <div class="error" *ngIf="isSubmitted==true">
                            <div *ngIf="registerform.controls['rname'].errors?.['required']">
                               Name is required..!
                            </div>
                        </div> 
                        </div>
                      </div>
    
                      <div class="d-flex flex-row align-items-center mb-12" style="margin-top:15px ;">
                        <i class="fas fa-phone fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-12">
                          <input type="email" id="form3Example3c" class="form-control"  placeholder="Contact No." formControlName="rcontact"/>
                          <div class="error" *ngIf="isSubmitted==true">
                            <div *ngIf="registerform.controls['rcontact'].errors?.['required']">
                               Contact is required..!
                            </div>
                        </div> 
                        </div>
                      </div>
                      <div class="d-flex flex-row align-items-center mb-12" style="margin-top:15px ;">
                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-12">
                          <input type="email" id="form3Example3c" class="form-control"  placeholder="Email-id" formControlName="remail"/>
                          <div class="error" *ngIf="isSubmitted==true">
                            <div *ngIf="registerform.controls['remail'].errors?.['required']">
                               Email is required..!
                            </div>
                        </div> 
                        </div>
                      </div>
                      <div class="d-flex flex-row align-items-center mb-12" style="margin-top:15px ;">
                        <i class="fas fa-users fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-12">
                          <input type="email" id="form3Example3c" class="form-control"  placeholder="Customer Address" formControlName="raddress"/>
                          <div class="error" *ngIf="isSubmitted==true">
                            <div *ngIf="registerform.controls['raddress'].errors?.['required']">
                               Address is required..!
                            </div>
                        </div>  
                        </div>
                      </div>
  
                      <br>
                      
                      
                      <div class="d-grid" style="margin-top: 10px;">
                        <button class="btn btn-success" type="submit" (click)="submit1()" *ngIf="isEditBtnClicked1=='no'" >Submit
                          </button>
                      </div>
                      <div class="d-grid" style="margin-top: 10px;">
                        <button class="btn btn-danger" type="submit" (click)="clear1()">Cancel</button>
                      </div>
                      </form>
                      <br>
                      <br>
                      <br>
                    </div>
                    <br>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <br>
    </div>
  
    <div class="col-lg-6" style="margin-left:700px;margin-top:-555px">
       <img src="../assets/bg.jfif" style="width:650px;height: 520px;">
    </div>
    </div>
    <br>
    <br>
    <br>
          
                
         
  