<div class="row" style="height: 90px;margin-left: -10px;margin-top: -40px;">
  <h1 class="text-center text-white" style="margin-left:100px;font-size: 30px;margin-top:35px;background-color: rgb(12, 12, 12);letter-spacing: 1.5px;"><b>CUSTOMER DETAILS</b></h1>
</div>
<div class="row" style="background-color:#23395d;background-image: url(../assets/bgg3.webp);">
  
    <div class="col-lg-8" style="margin-left: -40px;">
    <section>
      <div class="container h-100" style="width: 650px;margin-top:20px">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-lg-8 col-xl-8">
            <div class="card text-black" style="border-radius: 25px;">
              <div class="card-body p-md-12">
                <div class="row justify-content-center">
                  <div class="col-md-10 col-lg-10 col-xl-10 order-2 order-lg-1">
                 <br>
                    <p class="text-center h1 fw-bold mb-12 mx-12 mx-md-12 mt-12">Add New Customer</p>
                   <br>
                   
                <form [formGroup]="customerForm">
                      <div class="d-flex flex-row align-items-center mb-12">
                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-12">
                          <input type="text" id="form3Example1c" class="form-control" placeholder="Customer Name" formControlName="cname"/>
                          <div class="error" *ngIf="isSubmitted==true">
                            <div *ngIf="customerForm.controls['cname'].errors?.['required']">
                               Name is required..!
                            </div>
                        </div>
                        </div>
                      </div>
    
                      <div class="d-flex flex-row align-items-center mb-12" style="margin-top:15px ;">
                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-12">
                          <input type="email" id="form3Example3c" class="form-control"  placeholder="Email-id" formControlName="cemail"/>
                          <div class="error" *ngIf="isSubmitted==true">
                            <div *ngIf="customerForm.controls['cemail'].errors?.['required']">
                               Email is required..!
                            </div>
                        </div>
                        </div>
                      </div>

                      <div class="d-flex flex-row align-items-center mb-12" style="margin-top:15px ;">
                        <i class="fas fa-user fa-lg me-3 fa-phone"></i>
                        <div class="form-outline flex-fill mb-12">
                          <input type="text" id="form3Example1c" class="form-control"  placeholder="Your Contact" formControlName="ccontact"/>
                          <div class="error" *ngIf="isSubmitted==true">
                            <div *ngIf="customerForm.controls['ccontact'].errors?.['required']">
                               Contact is required..!
                            </div>
                        </div>  
                        </div>
                      </div>

                      <div class="d-flex flex-row align-items-center mb-12" style="margin-top:15px ;">
                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-12">
                          <input type="text" id="form3Example1c" class="form-control"  placeholder="Aadhar No." formControlName="caadhar"/>
                          <div class="error" *ngIf="isSubmitted==true">
                            <div *ngIf="customerForm.controls['caadhar'].errors?.['required']">
                               Aadhar No. is required..!
                            </div>
                        </div> 
                        </div>
                      </div>

                      <br>
                      <div class="d-grid">
                        <button class="btn btn-warning" type="update" (click)="update3()" *ngIf="isEditBtnClicked3=='yes'"  style="margin-top: 10px;">Update</button>
                      </div>
                      
                      <div class="d-grid" style="margin-top: 10px;">
                        <button class="btn btn-success" type="submit" (click)="submit3()" *ngIf="isEditBtnClicked3=='no'" >Submit
                          </button>
                      </div>
                      <div class="d-grid" style="margin-top: 10px;">
                        <button class="btn btn-danger" type="submit" (click)="clear3()">Cancel</button>
                      </div>
                      </form>
                      <br>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <br>
  </div>

  <div class="col-lg-6" style="margin-left:700px;margin-top:-580px">
     <section class="intro">
<div class="bg-image h-70" style="background-color: #f5f7fa;border-radius: 20px;">
  <div class="mask d-flex align-items-center h-70">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <h1 class="text-center"><b>Customer Details</b></h1>
          <div class="card">
            <div class="card-body p-0">
              <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true" style="position: relative; height: 485px">
                <table class="table table-striped mb-0">
                  <thead style="background-color: #002d72;">
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Email-Id</th>
                      <th scope="col">Contact</th>
                      <th scope="col">Aadhar No.</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let custom of customerList;let idx=index">
                      <td>{{custom.cname}}</td>
                      <td>{{custom.cemail}}</td>
                      <td>{{custom.ccontact}}</td>
                      <td>{{custom.caadhar}}</td>
                      
                      <td>
                        <button class="btn btn-warning" (click)="edit3(idx)"><i class="fa fa-pencil" aria-hidden="true"></i></button>&nbsp;
                        <button class="btn btn-danger" (click)="delete3(idx)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
  </div>
  </div>
  <br>
  <br>
  <br>



  <div class="row" style="height: 90px;background-color:rgb(27, 26, 26)">
    <div class="col-lg-1"></div>
    <div class="col-lg-4">
      <pre style="color: white;margin-top: 7px;">
        <b style="font-size: 30px;">Contact</b>
            <b style="font-size: 20px;">- HOME / CONTACT</b>
      </pre>
    </div>
    <div class="col-lg-7"></div>
    
  </div>
  <div class="row" style="margin-top: 30px;padding-left: 50px;padding-right: 50px;">
    
    <div class="col-lg-6">
     <img src="../assets/images/rent.jfif" style="height:520px">
    </div>
    
    <div class="col-lg-6" style="padding-left: 40px;">
      <div class="card" style="width:520px;background-color: white">
        <!-- <img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:100%"> -->
        <br>
        <h3 class="text-center">Contact Us</h3>
        <h5 class="text-center" style="margin-top: 12px;">_DROP US MESSAGE_</h5>
        <div class="card-body">
          <div class="row" style="margin-top: 15px;">
            <div class="col-lg-1">
  
            </div>
            <div class="col-lg-5" style="">
              <div class="form-group">
                <label for="usr">NAME:</label>
                <input type="text" class="form-control" id="usr">
              </div>
            </div>
            
            <div class="col-lg-5" style="">
              <div class="form-group">
                <label for="usr">EMAIL:</label>
                <input type="text" class="form-control" id="contact">
              </div>
            </div>
            <div class="col-lg-1">
  
            </div>
            
          </div>
  
          <div class="row" style="margin-top: 10px;">
            <div class="col-lg-1">
  
            </div>
            <div class="col-lg-5" style="">
              <div class="form-group">
                <label for="usr">PHONE:</label>
                <input type="text" class="form-control" id="usr">
              </div>
            </div>
            
            <div class="col-lg-5" style="">
              <div class="form-group">
                <label for="usr">SUBJECT:</label>
                <input type="text" class="form-control" id="contact">
              </div>
            </div>
            <div class="col-lg-1">
  
            </div>
          </div>
  
          <div class="row" style="margin-top: 10px;">
            <div class="col-lg-1">
  
            </div>
            <div class="col-lg-10">
              <div class="form-group">
                <label for="comment">
                  Comment:
                </label>
                <textarea class="form-control" rows="5" id="comment">
  
                </textarea>
            </div>
            
          </div>
          <div class="col-lg-1">
  
          </div>
          </div>
          <div class="row" style="margin-top: 10px;">
            <div class="col-lg-1">
  
            </div>
            <div class="col-lg-10">
            <button type="button" class="btn btn-primary btn-block" style="margin-top: 10px;background-color: rgb(27, 89, 122);padding-top: 5px;padding-bottom: 5px;"><h4 style="font-size: 18px;">SEND MESSAGE</h4></button>
            </div>
            <div class="col-lg-1">
  
            </div>
          </div>
          
          
          
        </div>
        <br>
      </div>
    </div>
  
    </div>
     
    
    <div class="row" style="margin-top:7px ;">
      <h1 class="text-center" style="font-size:45px ;font-family:Arial, Helvetica, sans-serif">GET IN TOUCH</h1>
    </div>
    <div class="row" style="margin-top:10px ;padding-left: 120px;padding-right: 100px;">
      
      <div class="col-lg-4">
        <div class="card text-center" style="width:280px">
          <div class="row" style="margin-top: 30px;">
            <br>
          <div class="col-lg-4"></div>
          <div class="col-lg-4">
            <div class="test rounded-circle text-center" style="width: 90px;height: 90px;background-color: rgb(27, 89, 122);">
              
            </div>
           
          </div>
          <div class="col-lg-4"></div>
          </div>
          <div class="card-body">
            <h4 class="card-title text-center" style="margin-top: 30px;">Email Address</h4>
            <p class="card-text text-center" style="margin-top: 20px;">info@booking.com</p>
            
            <br>
            <br>
          </div>
        </div>
        </div>
        <div class="col-lg-4">
          <div class="card text-center" style="width:280px">
            <div class="row" style="margin-top: 30px;">
              <br>
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
              <div class="test rounded-circle text-center" style="width: 90px;height: 90px;background-color: rgb(27, 89, 122);"></div>
              
            </div>
            <div class="col-lg-4"></div>
            </div>
            <div class="card-body">
              <h4 class="card-title text-center" style="margin-top: 30px;">Contact No.</h4>
              <p class="card-text text-center" style="margin-top: 20px;">0123456789</p>
              
              <br>
              <br>
            </div>
          </div>
          </div>
          <div class="col-lg-4">
            <div class="card text-center" style="width:280px">
              <div class="row" style="margin-top: 30px;">
                <br>
              <div class="col-lg-4"></div>
              <div class="col-lg-4">
                <div class="test rounded-circle text-center" style="width: 90px;height: 90px;background-color: rgb(27, 89, 122);"></div>
              </div>
              <div class="col-lg-4"></div>
              </div>
              <div class="card-body">
                <h4 class="card-title text-center" style="margin-top: 30px;">Address</h4>
                <p class="card-text text-center" style="margin-top: 20px;">
                      iooking ghhbgg nagpur
                </p>
                
                <br>
                <br>
              </div>
              </div>
            </div>
            </div>
            <div class="row" style="margin-top: 30px;padding:30px">
              <div class="col-lg-6">
                <h3 class="text-center">OPENING HOURS: 24/7</h3>
                <h3 class="text-center">OPENING HOURS: 24/7</h3>
                <h3 class="text-center">OPENING HOURS: 24/7</h3>
                <h3 class="text-center">OPENING HOURS: 24/7</h3>
              </div>
              <div class="col-lg-6"></div>
            </div>
          
